@charset "UTF-8";

html, .container { /* make container take up full screen */
  height: 100%;
  width: 100%;
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #3a64b7;
}

#map { /* do i even use this??? */
  position: fixed;
  top: 20px; right: 20px; bottom: 20px; left: 20px;
  background-color: #fff;
}

.hex {
  stroke: #000;
  stroke-width: 2px;
}

.edge {
  stroke: #fff;
  stroke-width: 3px;
}

circle.roll_chip {
  fill: #dbdbc9;
  stroke: #000;
  stroke-width: 1px;
}

text.roll {
  font-weight: bold;
  text-anchor: middle;
  dominant-baseline: central;
}

.robber * {
  fill: #555;
}

#lumber-solid { fill: #017c2e; }
#lumber-img { fill: url(#lumber); }

#grain-solid { fill: #f7df2a; }
#grain-img { fill: url(#grain); }

#wool-solid { fill: #73ef73; }
#wool-img { fill: url(#wool); }

#brick-solid { fill: #d8991a}
#brick-img { fill: url(#brick); }

#ore-solid { fill: #464c46; }
#ore-img { fill: url(#ore); }

#desert-solid { fill: #c0c16c; }
#desert-img { fill: url(#desert); }

#ocean-solid {
  fill: #3a64b7;
  stroke: none;
}

#ocean-img {
  fill: url(#ocean);
  stroke: none;
}
