@charset "UTF-8";

html, .container { /* make container take up full screen */
  height: 100%;
  width: 100%;
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #aaa;
}

#map { /* do i even use this??? */
  position: fixed;
  top: 20px; right: 20px; bottom: 20px; left: 20px;
  background-color: #fff;
}
